@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    height: 60vh;

    font-family: 'Poiret One', cursive;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.numberBox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;

    font-size: 15vh;
}
.buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 30%;

    font-size: 15vh;
}
.button1, .button2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    
    margin: 20px;

    background-color: transparent;
    
    border: none;
    border-radius: 50px;
    
    font-size: inherit;
    font-family: 'Poiret One', cursive;
}

.message
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;

    font-size: 5vh;
}
