<div class="main">
    <div class="container">
        <div class="numberBox">{{numero}}</div>
        <div class="buttons">
            <button class="button1" type="button" (click)="restar(numero)">-</button>
            <button class="button2" type="button" (click)="sumar(numero)">+</button>
        </div>
    </div>
    <div class="message">{{ mensaje }}</div>
</div>